$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$weght-cell: 50px;
$default-border: 1px solid #e5e5e5;
$active-border: 1px solid #00ff00;

body {
  width: 980px;
  margin: 0 auto;
  color: $primary-color;
  font: 100% $font-stack;
}

.row{
	display: block;
	margin: 0;
	padding: 0;
}
.cell{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: $weght-cell;
	height: $weght-cell;
	border: $default-border;

	&.hover{
		
		&.good{
			border: $active-border;	
		}
		&.bad{
			border: 1px solid #ff0000;	
		}
	}
	&.active{
		background: #000;
	}
}

.ship-row{
	display: block;
	margin: 0;
	padding: 0;

	&:hover > .ship-cell{
		border: $active-border;
	}
	&.active > .ship-cell{
		border: $default-border;
		background: #55aa55;
	}
	&.disabled > .ship-cell{
		border: $default-border;
		background: #ccc;
	}
}
.ship-cell{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: $weght-cell;
	height: $weght-cell;
	border: $default-border;
}