doctype html
head
	title Море боя
	meta(charset='utf-8')
	link(rel='stylesheet' type='text/css' href='/css/style.css')
	//- script(src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous")
	script(src='/js/main.js')
	-var row = 10
body
	h1 Море боя
	- for (var i = 0; i < row; i++)
		div(class="row")
			- for (var j = 0; j < row; j++) 
				div(class="cell" idcell="#{j+i*row}")

	h2 Выберите тип корабля:
	- for (var i = 1; i <= 4; i++)
		div(class="ship-row" onclick="ship.chooseShip(this, #{i})")
			- for (var j = 0; j < i; j++) 
				div(class="ship-cell")